Final.json

{
  "name": "Final",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"product_name\": \"Ultrabook Pro\",\n  \"quantity\": 1,\n  \"customer_name\": \"John Smith\",\n  \"shipping_address\": \"123 Automation Drive, Tech City, 54321\",\n  \"special_instructions\": \"Please include a note with 'Happy Birthday!' on it.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1040,
        944
      ],
      "id": "fa322a98-3767-4abd-a0a9-a873eb98192e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LK8ZPSN_fSaJCEatC3o-nzFfbIKhK821hZZ-52Fm_Zo",
          "mode": "list",
          "cachedResultName": "Stock Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LK8ZPSN_fSaJCEatC3o-nzFfbIKhK821hZZ-52Fm_Zo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LK8ZPSN_fSaJCEatC3o-nzFfbIKhK821hZZ-52Fm_Zo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -800,
        736
      ],
      "id": "ce60af92-6dab-4819-bb29-6e0cf6853cc6",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4VjnIeFNbHTkJ6v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LK8ZPSN_fSaJCEatC3o-nzFfbIKhK821hZZ-52Fm_Zo",
          "mode": "list",
          "cachedResultName": "Stock Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LK8ZPSN_fSaJCEatC3o-nzFfbIKhK821hZZ-52Fm_Zo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LK8ZPSN_fSaJCEatC3o-nzFfbIKhK821hZZ-52Fm_Zo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "QuantityInStock"
          ],
          "schema": [
            {
              "id": "ProductID",
              "displayName": "ProductID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ProductName",
              "displayName": "ProductName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "QuantityInStock",
              "displayName": "QuantityInStock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "f_prn",
              "displayName": "f_prn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        672
      ],
      "id": "70846053-4350-4dde-b0a9-dcb3d2c70a39",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4VjnIeFNbHTkJ6v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const firstItem = items[0].json;\n\nlet senderEmail = 'noreply@example.com';\n\nif (firstItem.fromEmail) {\n    senderEmail = firstItem.fromEmail;\n} else if (firstItem.from && Array.isArray(firstItem.from) && firstItem.from[0].address) {\n    senderEmail = firstItem.from[0].address;\n} else if (firstItem.from && typeof firstItem.from === 'string') {\n    const match = firstItem.from.match(/<(.+)>/);\n    if (match) senderEmail = match[1];\n} else if (firstItem.sender) {\n    senderEmail = firstItem.sender;\n}\n\nreturn [{ json: { ...firstItem, senderEmail } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        880
      ],
      "id": "31b3a9bf-984e-42fb-b402-cc50e4a55ff6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst inputItems = $input.all();\nif (!inputItems.length) {\n  return [];\n}\n\nconst results = [];\n\n// Skip first row (start from row 2)\nfor (const item of inputItems) {\n  const data = item.json;\n\n  // Extract \"from\" safely\n  let fromAddress = null;\n  if (\n    data.from &&\n    Array.isArray(data.from) &&\n    data.from[0] &&\n    data.from[0].address\n  ) {\n    fromAddress = data.from[0].address;\n  }\n\n  // Build message\n  const message = `Hello ${data.customer_name}, Thank you for your order! We have received your request for ${data.quantity} units of the ${data.product_name}. Your order is now being processed and will be shipped to ${data.shipping_address}. If you have any questions, please reply to this email. Thanks, Your E-commerce Team`;\n\n  results.push({ json: { ...data, message, fromAddress } });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        672
      ],
      "id": "0734d660-789e-4333-b7df-c3208dfbd9d6",
      "name": "Code in JavaScript1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst firstItem = items[0].json;\nlet senderEmail = \"\";\n\n// Case 1: 'from' is an array of objects\nif (\n  firstItem.from &&\n  Array.isArray(firstItem.from) &&\n  firstItem.from[0].address\n) {\n  senderEmail = firstItem.from[0].address;\n}\n// Case 2: 'from' is a string like \"Name <email@example.com>\"\nelse if (firstItem.from && typeof firstItem.from === \"string\") {\n  const match = firstItem.from.match(/<(.+)>/);\n  senderEmail = match ? match[1] : firstItem.from;\n}\n// Case 3: 'From' field from Gmail Trigger (raw string)\nelse if (firstItem.From && typeof firstItem.From === \"string\") {\n  const match = firstItem.From.match(/<(.+)>/);\n  senderEmail = match ? match[1] : firstItem.From;\n}\n\nreturn { senderEmail };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        736
      ],
      "id": "cb8f96af-72c8-4bd1-b1fc-d13f0beeb6c2",
      "name": "Precode Javascript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Instructions:\n1. Ignore any HTML tags and extra formatting. Extract the **actual text content**.\n2. Extract the following information and return a JSON object with a single key \"output\":\n   - product_name\n   - quantity\n   - customer_name\n   - shipping_address\n   - special_instructions\n3. If any field is missing, use \"N/A\" for text fields and 0 for quantity.\n4. Return **only the JSON object**, nothing else.\n\nText to analyze:\n{{ $('Gmail Trigger1').item.json.snippet }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1104,
        736
      ],
      "id": "5b6243b5-e11e-4bed-81b1-6231de9c17e5",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"parameters\": {\n    \"keepOnlySet\": false,\n    \"values\": {\n      \"string\": [\n        {\n          \"name\": \"senderEmail\",\n          \"value\": \"={{ $node[\\\"Precode Javascript\\\"].json.senderEmail }}\"\n        }\n      ]\n    },\n    \"options\": {}\n  },\n  \"name\": \"Attach senderEmail (success)\",\n  \"type\": \"n8n-nodes-base.set\",\n  \"typeVersion\": 3.4,\n  \"position\": [\n    860,\n    340\n  ],\n  \"id\": \"attach-sender-success\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        512
      ],
      "id": "8082f29a-2abe-47b4-95dd-24176e52be39",
      "name": "true set"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"parameters\": {\n    \"keepOnlySet\": false,\n    \"values\": {\n      \"string\": [\n        {\n          \"name\": \"senderEmail\",\n          \"value\": \"={{ $node['Precode Javascript'].json.senderEmail }}\"\n        }\n      ]\n    },\n    \"options\": {}\n  },\n  \"name\": \"Attach senderEmail (failure)\",\n  \"type\": \"n8n-nodes-base.set\",\n  \"typeVersion\": 3.4,\n  \"position\": [\n    860,\n    560\n  ],\n  \"id\": \"attach-sender-failure\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        1072
      ],
      "id": "f8ba892f-cc4e-45c3-b5d7-034af00daf75",
      "name": "false set"
    },
    {
      "parameters": {
        "jsCode": "const stock = $input.all().map((item) => item.json);\nconst orders = $(\"Basic LLM Chain\")\n  .all()\n  .map((item) => item.json);\n\nconst f_prn = stock.filter((stockItem) =>\n  orders.some(\n    (orderItem) => orderItem.output.product_name === stockItem.ProductName,\n  ),\n);\n\nreturn { f_prn };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        736
      ],
      "id": "3674f8e7-9b66-436d-a562-85a38fd609c6",
      "name": "loop try",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1072,
        1136
      ],
      "id": "19a402ae-59d8-44ad-aee9-df71e5f6fc51",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "NlJSoMl5IRGW1Z53",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yBy7ytVGCft-Wmelfkt_JoUjrYVFyhTIEnGa_RhDcqU",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yBy7ytVGCft-Wmelfkt_JoUjrYVFyhTIEnGa_RhDcqU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yBy7ytVGCft-Wmelfkt_JoUjrYVFyhTIEnGa_RhDcqU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product ID": "={{ $json.f_prn[0].ProductID }}",
            " Product Name": "={{ $json.f_prn[0].ProductName }}",
            "Quantity": "={{ $json.f_prn[0].QuantityInStock }}",
            "Name": "={{ $('Basic LLM Chain').first().json.output.customer_name }}",
            "Shipping Address": "={{ $('Basic LLM Chain').first().json.output.shipping_address }}",
            "Special Instruction": "={{ $('Basic LLM Chain').first().json.output.special_instructions }}",
            "ORDER STATUS": "Accepted",
            "Email": "={{ $('Gmail Trigger1').first().json.From }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Product Name",
              "displayName": " Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product ID",
              "displayName": "Product ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shipping Address",
              "displayName": "Shipping Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Special Instruction",
              "displayName": "Special Instruction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ORDER STATUS",
              "displayName": "ORDER STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        416
      ],
      "id": "a997494b-ab26-4af9-a336-c94e1f5afc33",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4VjnIeFNbHTkJ6v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yBy7ytVGCft-Wmelfkt_JoUjrYVFyhTIEnGa_RhDcqU",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yBy7ytVGCft-Wmelfkt_JoUjrYVFyhTIEnGa_RhDcqU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yBy7ytVGCft-Wmelfkt_JoUjrYVFyhTIEnGa_RhDcqU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product ID": "-",
            " Product Name": "Not in the Stock",
            "Quantity": "-",
            "Name": "={{ $('Basic LLM Chain').first().json.output.customer_name }}",
            "Shipping Address": "={{ $('Basic LLM Chain').first().json.output.shipping_address }}",
            "Special Instruction": "={{ $('Basic LLM Chain').first().json.output.special_instructions }}",
            "ORDER STATUS": "Rejected",
            "Email": "={{ $('Gmail Trigger1').first().json.From }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " Product Name",
              "displayName": " Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product ID",
              "displayName": "Product ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shipping Address",
              "displayName": "Shipping Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Special Instruction",
              "displayName": "Special Instruction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ORDER STATUS",
              "displayName": "ORDER STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        976
      ],
      "id": "78541d16-6a49-4e84-b187-47df3b3ecb90",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4VjnIeFNbHTkJ6v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom"
            }
          ]
        },
        "filters": {
          "q": "label:Sales_Order"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1488,
        736
      ],
      "id": "5b219fc1-a5ee-4a68-87fe-9b9a7fb5004a",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "KQZK0FcbA9O7bmlR",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1978aa1b-1b83-4d12-b4e2-74a6ef511f18",
              "leftValue": "={{ $('Basic LLM Chain').all()[0].json.output.product_name }}",
              "rightValue": "={{ $json.f_prn[0].ProductName }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "36124061-4989-44a7-b963-d93e29b2ada6",
              "leftValue": "={{ $item(0).$node[\"Basic LLM Chain\"].json.output.quantity }}",
              "rightValue": "={{ $json.f_prn[0].QuantityInStock }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        736
      ],
      "id": "cf9a7a0e-86bc-47c2-b0ab-de29ee436178",
      "name": "If1"
    },
    {
      "parameters": {
        "sendTo": "={{ $node['Precode Javascript'].json.senderEmail }}",
        "subject": "=Order Confirmed:{{ $json.name }} ",
        "message": "=Hello {{ $('Basic LLM Chain').all()[0].json.output.customer_name }}, Thank you for  your order of {{ $('Basic LLM Chain').all()[0].json.output.product_name }} ! We have received your request for {{ $('Basic LLM Chain').all()[0].json.output.quantity }}  units of the {{ $('Basic LLM Chain').all()[0].json.output.product_name }}  .Your order is now being processed .  If you have any questions, please reply to this email.  Thanks, Your E-commerce Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        416,
        672
      ],
      "id": "1c0d5cde-8dab-45c6-a572-276936eaa42c",
      "name": "Send a message2",
      "webhookId": "b63db7b0-0c8c-4efd-b5cc-a28926b1ddf9",
      "credentials": {
        "gmailOAuth2": {
          "id": "KQZK0FcbA9O7bmlR",
          "name": "Gmail account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $node['Precode Javascript'].json.senderEmail }}",
        "subject": "=Out of Stock:{{ $json.name }}",
        "emailType": "text",
        "message": "=Hello {{ $('Basic LLM Chain').all()[0].json.output.customer_name }},\n\nWe're writing to you regarding your recent order. \nUnfortunately, the item you requested, \"{{ $('Basic LLM Chain').all()[0].json.output.product_name }}\", is currently out of stock.\n\nWe sincerely apologize for any inconvenience this may cause. \nWe are working to restock this item as quickly as possible, and we will notify you as soon as it becomes available again. \n\nThank you for your understanding.  \n\nBest regards,  \nYour E-commerce Team\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        880
      ],
      "id": "de41a1c3-dcec-4e09-89f4-0a322aea1778",
      "name": "Send a message3",
      "webhookId": "dc3ac29a-64af-444f-b505-a882a52a51e0",
      "credentials": {
        "gmailOAuth2": {
          "id": "KQZK0FcbA9O7bmlR",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1200,
        944
      ],
      "id": "eeb3b714-b24d-4b23-a536-e1f9d37b9c3f",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "NlJSoMl5IRGW1Z53",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Quotation",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1408,
        368
      ],
      "id": "3cdfa401-1de9-4693-9ad2-39a654ed1acd",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "content": "Main Workflow",
        "height": 80,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        1120
      ],
      "id": "8d7041ea-9251-417d-ae6c-5a9c248e3c73",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "Label_4311019919013729436"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1872,
        80
      ],
      "id": "7fa89dbd-fbbb-4017-8bc4-18066d9fd36f",
      "name": "Gmail Trigger2",
      "credentials": {
        "gmailOAuth2": {
          "id": "KQZK0FcbA9O7bmlR",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.snippet }}",
        "attributes": {
          "attributes": [
            {
              "name": "product_name",
              "description": "The name of the item or product the customer is asking about."
            },
            {
              "name": "quantity",
              "type": "number",
              "description": "The number of units requested."
            },
            {
              "name": "customer_name",
              "description": "The name of the sender."
            },
            {
              "name": "customer_email",
              "description": "=The email address mentioned in the text, or the sender's email address: {{ $json.From }}"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value or if a quantity isn't mentioned, return 1."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -1664,
        80
      ],
      "id": "6d3c38ee-6b7f-4905-aeb3-029dd6382809",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1728,
        288
      ],
      "id": "7b5e9861-6669-40fb-8496-48a19f8206df",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "NlJSoMl5IRGW1Z53",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6ad052e6-c47d-4998-b4f9-c3028c999dbb",
              "leftValue": "={{ $node[\"Google Sheets1\"].json.ProductName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1104,
        80
      ],
      "id": "32166766-d06c-4e9e-aa5d-57ddd523ad25",
      "name": "If2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LK8ZPSN_fSaJCEatC3o-nzFfbIKhK821hZZ-52Fm_Zo",
          "mode": "list",
          "cachedResultName": "Stock Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LK8ZPSN_fSaJCEatC3o-nzFfbIKhK821hZZ-52Fm_Zo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LK8ZPSN_fSaJCEatC3o-nzFfbIKhK821hZZ-52Fm_Zo/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ProductName",
              "lookupValue": "={{ $json.output.product_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1312,
        80
      ],
      "id": "615da6d7-dcc9-4b36-9c19-77c7315f7054",
      "name": "Google Sheets1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S4VjnIeFNbHTkJ6v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Information Extractor1').item.json.output.customer_email }}",
        "subject": "Quotation",
        "message": "=Hi {{ $('Information Extractor1').item.json.output.customer_name }},\n\nThank you for your inquiry regarding {{ $('Information Extractor1').item.json.output.product_name }}.\n\nHere is your formal quotation:\n------------------------------------------\nProduct: {{ $('Google Sheets1').item.json.ProductName }}\nUnit Price: {{ $('Google Sheets1').item.json[\"Price\"] }}\nQuantity: {{ $('Information Extractor1').item.json.output.quantity }}\n\nTotal Amount: ${{ (parseFloat($('Google Sheets1').item.json[\"Price\"].toString().replace(/[^\\d.]/g, '')) * Number($('Information Extractor1').item.json.output.quantity || 1)).toFixed(2) }}\n------------------------------------------\n\nAvailability: {{ $('Google Sheets1').item.json.QuantityInStock }} units in stock.\n\nBest regards,\nAutomated Sales System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -896,
        0
      ],
      "id": "ec9d2dd7-6338-41cf-9cd6-2f1bf0f71af8",
      "name": "Send a message4",
      "webhookId": "ca215b33-8de6-4f6d-b3cb-b36e74b66763",
      "credentials": {
        "gmailOAuth2": {
          "id": "KQZK0FcbA9O7bmlR",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Information Extractor1').item.json.output.customer_email }}",
        "subject": "=Regarding your inquiry: {{ $('Information Extractor1').item.json.output.product_name }}",
        "message": "=Hi {{ $('Information Extractor1').item.json.output.customer_name }},  Thank you for reaching out! We received your request for a quote on '{{ $('Information Extractor1').item.json.output.product_name }}'.  Unfortunately, we couldn't find an exact match for this item in our current catalog. Could you please double-check the product name or provide a model number?  Alternatively, reply to this email and one of our team members will assist you manually.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -896,
        176
      ],
      "id": "74e0be4c-56ad-4aa0-a55e-204c6be3541a",
      "name": "Send a message5",
      "webhookId": "8090ddea-de1f-4fc3-9eba-fc9446ea5e46",
      "credentials": {
        "gmailOAuth2": {
          "id": "KQZK0FcbA9O7bmlR",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "loop try",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "false set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "true set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precode Javascript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true set": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "false set": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop try": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Precode Javascript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger2": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b3addcbc-6a19-4efd-91e8-95db62a1614b",
  "meta": {
    "instanceId": "7daf81d9c47fdcf332e001b3c863e43aee58135b20b9f9ef4589b6aa0ce45d00"
  },
  "id": "u4xIGagz9Qe7HqeROQGfv",
  "tags": []
}
